@tailwind base;
@tailwind components;
@tailwind utilities;



.banner {
    background: url("../src/img/bgBanner.png") no-repeat fixed center;
    background-size: cover;
    background-repeat: no-repeat;
}
.aboutImg1{
    background: url("../src/img/comprimer.png") no-repeat center;
    background-size: 100%;
}
.aboutImg2{
    background: url("../src/img/ab2.jpg") no-repeat center;
    background-size: 100%;
}
.aboutImg3{
    background: url("../src/img/ab3.jpg") no-repeat center;
    background-size: 100%;
}

@media (max-width:1000px){
    .show{
        display: flex;
        flex-direction: column;
        position:fixed;
        width: 100%;
        background:#64C5BB;
        z-index: 100;
        top: 149px;
        left: 0;
        right: 0;
        padding:20px;
        font-size: xx-large;
        align-items: center;
        justify-content: left;
        text-align: left;
        box-shadow: 20px;
        box-shadow: aliceblue;
        opacity: 90%;
    }
    .switch{
        opacity: 0;
     }
}

/* .swiper {
    width: 600px;
    height: 300px;
  } */

  /* swiper css */

  html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

swiper-container {
  width: 350px !important;
  height: 300px;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px !important;
  height: 300px;
}

swiper-slide img {
  display: block;
  width: 350;
  height: 200;
  object-fit: cover;
}
  
